@font-face {
  font-family: nb;
  src: url(./fonts/nb.woff2);
}


@font-face {
  font-family: "silk serif";
  src: url(./fonts/silkserif-regularitalic-webfont.ttf);
}

@font-face {
  font-family: "silk serif";
  src: url(./fonts/silkserif-lightitalic-webfont.ttf);
}


html {
  height: 100%;
  width: 100%;
}
body{
  margin:0;
}
#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    background-color: #151515;
    padding: 25vh 10vw;
   

    font-family:nb;
    color: #fff;
}
.line {
    margin: 0;
    padding: 0;
    font-family: nb;
    color: #fff;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 3vw;
}
#line1-part1 {
    margin: 0;
    padding: 0;

    font-family: "Plain Light";
    color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1vw;

}

#line1-part1 h5,
#line1-part1 h6 {
    margin: 0;
    padding: 0;

    
    color: #fff;
  font-size: 3vw;
  font-weight: 100;
  font-family: 'silk serif';
}

#line1-part1 h5 {
    margin: 0;
    padding: 0;

   
    color: #fff;
  width: 5vw;
  text-align: right;
}

.line h1 {
    margin: 0;
    padding: 0;

    font-family: nb;
    color: #fff;
  font-size: 6.5vw;
  text-transform: uppercase;
  font-weight: 900;
}

.line h2 {
    margin: 0;
    padding: 0;

    font-family: nb;
    color: #fff;
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: 900;
  opacity: 0;
   animation-name: loaderAnime;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes loaderAnime {
  0% {
      font-family: nb;
      -webkit-text-stroke: 1px #fff;
      color: #fff;
      font-weight: 500;
      opacity: 1;
  }

  48% {
      font-family: nb;
      -webkit-text-stroke: 1px #fff;
      color: #fff;
      font-weight: 500;
      opacity: 0;
  }

  50% {
      font-family: 'silk serif';
      -webkit-text-stroke: 1px #fff;
      font-weight: 500;
      color: transparent;
      opacity: 1;
  }

  100% {
      font-family: 'silk serif';
      -webkit-text-stroke: 1px #fff;
      font-weight: 500;
      color: transparent;
      opacity: 0;
  }
}

@keyframes loaderAnime {
  0% {
      font-family: nb;
      -webkit-text-stroke: 1px #fff;
      color: #fff;
      font-weight: 500;
      opacity: 1;
  }

  48% {
      font-family: nb;
      -webkit-text-stroke: 1px #fff;
      color: #fff;
      font-weight: 500;
      opacity: 0;
  }

  50% {
      font-family: 'silk serif';
      -webkit-text-stroke: 1px #fff;
      font-weight: 500;
      color: transparent;
      opacity: 1;
  }

  100% {
      font-family: 'silk serif';
      -webkit-text-stroke: 1px #fff;
      font-weight: 500;
      color: transparent;
      opacity: 0;
  }
}


